<div class="container">
  <div class="row">
    <div class="col-2">
      <img src="assets/images/logoRevELA.png" alt="" class="img-fluid d-block mx-auto">
    </div>
    <div class="col-2">
      <img src="assets/images/lais.png" alt="" class="img-fluid d-block mx-auto">
    </div>
    <div class="col-2">
      <img src="assets/images/ufrn.png" alt="" class="img-fluid d-block mx-auto">
    </div>
    <div class="col-2">
      <img src="assets/images/sedis.png" alt="" class="img-fluid d-block mx-auto">
    </div>
  </div>
</div>

