<header>
  <section class="accessibility-bar-wrapper hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a
            href="#conteudo"
            class="d-inline-block"
            accesskey="1"
            title="Link para ir ao conteúdo"
            >Ir para o conteúdo <span class="numero-acessibilidade">1</span> </a
          >
          <a
            href="jogo.html"
            class="d-inline-block"
            accesskey="2"
            title="Iniciar o jogo"
            >Iniciar o jogo <span class="numero-acessibilidade">2</span></a
          >
          <a
            href="#footer"
            class="d-inline-block"
            accesskey="3"
            title="Ir para o rodapé"
            >Ir para o rodapé <span class="numero-acessibilidade">3</span></a
          >
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="header">
      <h1>
        Cuidadores na Assistência ao Paciente <br />
        Cuidados Respiratórios na ELA
      </h1>
    </section>
  </div>
</header>
